<div fxLayout="row wrap" fxLayoutGap="10px">
  <div>
    <mat-radio-group [(ngModel)]="selectedPosition">
      <mat-radio-button value="first">Go First</mat-radio-button>
      <mat-radio-button value="second">Go Second</mat-radio-button>
    </mat-radio-group>
    <span style="float: right;">(Always Red)</span>
    <mat-card style="height: 400px;">
      <mat-card-header>
        <span style="line-height: 50px;">Game Speed:</span>
        <mat-slider style="width: 65%;" (change)="setIntervalTimer(false)" max="1" min="0" step="0.05" [value]="gameSpeed" [(ngModel)]="gameSpeed">
        </mat-slider>
      </mat-card-header>
      <mat-card-content>
        <app-connect-four-board #board appConnectFour [speed]="gameSpeed"></app-connect-four-board>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="startGame()">START</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <app-editor (saved)="save($event)" [code]="player.code"></app-editor>
</div>
