<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <mat-card fxFlex="25" class="player">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <mat-select placeholder="Red Player" [(ngModel)]="redPlayer">
            <mat-option *ngFor="let player of playerList" [value]="player">
              {{ player.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-title>
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around center" *ngIf="redPlayer && redPlayer.photoURL">
        <img src="{{redPlayer && redPlayer.photoURL ? redPlayer.photoURL : ''}}" style="border-color: red;">
      </mat-card-content>
      <mat-card-footer>
        Wins: {{ redPlayerWins }}
      </mat-card-footer>
    </mat-card>

    <mat-card fxFlex="30" class="controls">
      <mat-card-content>
        <div>
          <span style="line-height: 50px;">Speed:</span>
          <mat-slider style="width: 84%;" (change)="setIntervalTimer(false)" max="1" min="0" step="0.05" [value]="gameSpeed" [(ngModel)]="gameSpeed">
          </mat-slider>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="startGame()">START</button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex="25" class="player">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <mat-select placeholder="{{ secondColour }}" [(ngModel)]="yellowPlayer">
            <mat-option *ngFor="let player of playerList" [value]="player">
              {{ player.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-title>
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around center" *ngIf="yellowPlayer && yellowPlayer.photoURL">
        <img src="{{yellowPlayer && yellowPlayer.photoURL ? yellowPlayer.photoURL : ''}}" [style.borderColor]="secondColour">
      </mat-card-content>
      <mat-card-footer>
        Wins: {{ yellowPlayerWins }}
      </mat-card-footer>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="start top" fxLayoutGap="10px">
    <mat-card *ngFor="let game of games" style="height: 300px;">
      <mat-card-content>
        <app-connect-four-board #board appConnectFour [speed]="gameSpeed" [width]="245" [height]="210"></app-connect-four-board>
      </mat-card-content>
    </mat-card>
  </div>
</div>
